<% layout("/layouts/boilerplates")%>

<div class="row mt-9 ">
    <h1 class="col-6 offset-5">Login</h1>
    <div class="col-6 offset-3">
     <form action="/login" method="POST" class="needs-validation" novalidate>
        <div class="mb-9">
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" class="form-control"  id="username" required >
            
        </div>


        <div class="mb-3">
            <label for="password" class="form-label">password</label>
            <input type="password" name="password" class="form-control"  id="password" required >
            
        </div>
        <button class="btn btn-success offset-5">Login</button>

     </form>
    </div>

</div>